.photo-grid {
    max-width: 1184px; 
    margin: 92px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    row-gap: 16px;
    column-gap: 16px;
}

.photo-grid__picture {
    margin: 0;
    padding: 0;
}

.photo-grid__item {
    object-fit: cover;
}