.place__image {
    grid-column: 1;
    grid-row: 2;
    object-fit: cover;
}

@media screen and (max-width: 1024px) { 
    .place__image {
        max-width: 440px;
        min-height: 440px;
    }
}

@media screen and (max-width: 850px) { 
    .place__image {
        max-width: 340px;
        min-height: 340px;
    }
}

@media screen and (max-width: 700px) { 
    .place__image {
        margin: 0 auto;
        max-width: 100%;
        grid-row: 3;
    }
}

@media screen and (max-width: 320px) { 
    .place__image {
        max-width: 320px;
        min-height: 320px;
    }
}