.lead {
    max-width: 984px;
    margin: 55px auto 93px auto;
}

@media screen and (max-width: 1024px) { 
    .lead {
        max-width: 928px;
        margin: 48px auto 92px auto;
    }
}

@media screen and (max-width: 768px) { 
    .lead {
        max-width: 768px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) { 
    .lead {
        max-width: 320px;
        margin-bottom: 64px;
    }
}