.header {
    max-width: 1184px;
    margin: 28px auto 56px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) { 
    .header {
        max-width: 928px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) { 
    .header {
        max-width: 720px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 550px) { 
    .header {
        margin: 15px auto 50px auto;
        padding-left: 16px;
        padding-right: 16px;
        max-width: 500px;
        min-height: 42px;
    }
}

@media screen and (max-width: 320px) { 
    .header {
        margin: 16px auto 48px auto;
        max-width: 320px;
    }
}