.logo_place_header {
    margin: 0;
    max-width: 177px;
    min-height: 52px;
}

@media screen and (max-width: 1024px) { 
    .logo_place_header {
        max-width: 176px;
    }
}

@media screen and (max-width: 320px) { 
    .logo_place_header {
        max-width: 142px;
        min-height: 42px;
    }
}