.intro {
    max-width: 690px;
    margin: auto 442px auto 148px;
}

@media screen and (max-width: 1024px) { 
    .intro {
        margin: auto 286px auto 48px;
    }
}

@media screen and (max-width: 768px) { 
    .intro {
        max-width: 93.75%;
        margin: 88px auto;
    }
}

@media screen and (max-width: 320px) { 
    .intro {
        max-width: 288px;
        margin: 64px auto;
    }
}