.cover__overlay {
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #2A2C2F;
    transition: opacity 0.4s ease 0.1s;
}

.cover__overlay:hover::before {
    opacity: 0.6;
}

.cover__overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #2A2C2F;
    transition: opacity 1s ease 0.3s;
}

.cover__overlay:hover::after {
    opacity: 0.5;
}

@media screen and (max-width: 1024px) { 
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
        background-size: 1024px 640px;
    }
}

@media screen and (max-width: 768px) { 
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 550px) { 
    .cover__overlay {
        max-width: 550px;
        min-height: 400px;
    }
}

@media screen and (max-width: 320px) { 
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
}